[package]
name = "motion-core"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

thiserror = "1.0"

tokio = { version = "1.38", features = ["full"] } 
chrono = { version = "0.4", features = ["clock"] }
 
 
